<app-navbar></app-navbar>
<div class="container">
  <div class="mb-3 mt-2">
    <h5>{{todo_title}}</h5>
  </div>
  <div class="row">
    <div class="col-6 mb-2">
      <div class="mb-1">
        Should this Todo be a simple one?
      </div>
      <div *ngIf="executionId != null" class="mb-1">
        <app-set-variable-check-box [executionId]="executionId" name="simple" t="simple" f="complex"
                                    message="your todo is "></app-set-variable-check-box>
      </div>
    </div>

    <div class="col-6">
      <div *ngIf="todo_id != null">
        <app-add-user [todo_id]="todo_id" [todo_title]="todo_title"></app-add-user>
      </div>
      <div *ngIf="executionId != null" class="mt-1">
        <app-complete-task [task_id]="taskId" [execution_id]="executionId" type="todo"></app-complete-task>
      </div>
    </div>
  </div>
</div>
