<div class="row">
  <div class="col-8">
    <b>-</b> &nbsp;
    <span *ngIf="item.done == false">
                <span class="custom-a" (click)="updateTodoItem(item.id)" [innerHTML]="item.name"></span>
              </span>
    <span *ngIf="item.done == true">
                <span class="custom-done" (click)="updateTodoItem(item.id)"><s [innerHTML]="item.name"></s></span>
              </span>
  </div>
  <div class="col-2">
    <small *ngIf="item.done == false">open</small>
    <small *ngIf="item.done == true">done</small>
  </div>
  <div class="col-2">
    <a (click)="deleteItem(item.id)" title="delete"><fa-icon [icon]="faTrash" *ngIf="item.done == true"></fa-icon></a>
  </div>
</div>
