<app-navbar [titlePrefix]="navBarTitlePrefix"></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-xl-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{theaterName}}</h4>
          <div>
            {{theaterAddress}}<br>
            <a [href]="theaterUrl" target="_blank">{{theaterUrl}}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div *ngFor="let firstLevel of movieForTheaterWithSchedules | keyvalue">
        <div class="card">
          <div class="card-header">
            <b>{{firstLevel.value[0]}}</b>
          </div>
          <div *ngFor="let m of firstLevel.value[1] | keyvalue">
            <div *ngFor="let s of m.value">
              <a [routerLink]="['/cinephilia/movies/', s.movie_id]">
                <div class="singleMovie">
                  <b>{{m.key}}</b><br>
                  <small>{{s.time.toString() | slice : 11:16}}</small>
                </div>
              </a>
            </div>
          </div>
          <!--<p><small>{{schedule.time.toString() | slice : 11:16}}</small></p>-->
        </div>
      </div>
    </div>
  </div>
</div>


