<app-alert></app-alert>
<div class="container">
  <div class="row">
    <div class="col-4">
      <form [formGroup]="changePWForm" (submit)="onSubmit()">
        <div class="form-group mt-1">
          <input type="password" class="form-control" formControlName="password" placeholder="new password"/>
        </div>
        <div class="form-group mt-1">
          <input type="password" class="form-control" formControlName="passwordConfirmation"
                 placeholder="confirm password"/>
        </div>
        <div class="form-group mt-1">
          <input type="password" class="form-control" formControlName="old_password" placeholder="old password"/>
        </div>
        <div class="form-group mt-1">
          <button class="btn btn-outline-success">change</button>
        </div>
      </form>
    </div>
  </div>
</div>
