<app-navbar></app-navbar>
<div class="container">
  <div class="mb-2 mt-2">
    <b>{{todo_title}}</b>
  </div>
  <div class="p-grid">
    <div class="p-col-12 p-md-6">
      <div *ngFor="let i of items" class="">
        <div class="p-grid itemlist">
          <div class="p-col-4">
            <span *ngIf="i.done == false">
              <a (click)="updateTodoItem(i.id)">{{i.name}}</a>
            </span>
            <span *ngIf="i.done == true">
              <a (click)="updateTodoItem(i.id)"><s>{{i.name}}</s></a>
            </span>
          </div>
          <div class="p-col-4">
            <small *ngIf="i.done == false">open</small>
            <small *ngIf="i.done == true">done</small>
          </div>
          <div class="p-col-4">
            <a (click)="deleteItem(i.id)" title="delete"><i class="fa fa-trash" *ngIf="i.done == true"></i></a>
          </div>
          <div>

          </div>
          <!--          <div class="col">
                      <button class="btn btn-sm btn-outline-success" (click)="updateTodoItem(i.id)" [disabled]="loading">done
                      </button>
                    </div>-->
        </div>
      </div>
      <div class="mt-3">
        <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
          <div class="ui-inputgroup">
            <input type="text" pInputText formControlName="name" placeholder="Item"
                   [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
          </div>
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">
              <small>item is required</small>
            </div>
          </div>

          <div class="ui-inputgroup">
            <button pButton [disabled]="loading" class="ui-button-success" label="Hopp"></button>
          </div>
        </form>
      </div>
    </div>
    <div class="p-col-12 p-md-6 mt-2">
      <div class="p-grid">
        <div class="p-col-6">
          <form [formGroup]="addUserForm" (ngSubmit)="addUserToTodo()">
            <div class="ui-inputgroup">
              <p-dropdown [options]="users" [style]="{'width':'150px'}" formControlName="selectedUser"
                          optionLabel="name" placeholder="Select a user" (onShow)="loadUser()"></p-dropdown>
            </div>
            <div class="ui-inputgroup mt-1">
              <button pButton [disabled]="loading" class="ui-button-warning" label="add user"></button>
            </div>
          </form>
          <div class="mt-2 ml-2">
            <img *ngIf="loading"
                 src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
          </div>
        </div>
        <div class="p-col-6">
          <div *ngFor="let u of todo_users">
            <small>{{u.name}}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
