.drop-box {
  cursor: pointer;
  background: #F8F8F8;
  border: 5px dashed #DDD;
  text-align: center;
  padding: 40px;
}

.drag-over-title {
  display: none;
}

.drop-box.dragover {
  opacity: 0.6;
}

.drop-box.dragover .drag-over-title {
  display: block;
}

.drop-box.dragover .drag-in-title {
  display: none;
}

.img-spinning-circle {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

