<div class="row">
  <div class="col-md-10">
    <h4>
      <fa-icon [icon]="faSurprise" class="text-warning mr-5"></fa-icon>
      Arbeitgeber:innen
    </h4>
  </div>
</div>

<form>
  <div class="form-group form-inline">
    Filter: <input class="form-control ml-2" type="text" name="searchTerm"
                   [(ngModel)]="employerTableService.searchTerm"/>
    <span class="ml-3" *ngIf="employerTableService.loading$ | async">Loading...</span>
  </div>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="(total$ | async)!" [(page)]="employerTableService.page"
      [pageSize]="employerTableService.pageSize"
      [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
    </ngb-pagination>
    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="employerTableService.pageSize">
      <option [ngValue]="10">10 items per page</option>
      <option [ngValue]="20">20 items per page</option>
      <option [ngValue]="60">60 items per page</option>
    </select>
  </div>

  <table class="table table-striped mt-5">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Firma</th>
      <th scope="col">Vorname</th>
      <th scope="col">Nachname</th>
      <th scope="col">Position</th>
      <th scope="col">Telephon</th>
      <th scope="col" *ngIf="clientId">add</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employer of employers$ | async; index as i">
      <th><small>{{ i + 1 }}</small></th>
      <td>
        <ngb-highlight [result]="employer.company" [term]="employerTableService.searchTerm"></ngb-highlight>
      </td>
      <td>
        <ngb-highlight [result]="employer.person.firstName" [term]="employerTableService.searchTerm"></ngb-highlight>
      </td>
      <td>
        <ngb-highlight [result]="employer.person.lastName" [term]="employerTableService.searchTerm"></ngb-highlight>
      </td>
      <td>
        <ngb-highlight [result]="employer.position" [term]="employerTableService.searchTerm"></ngb-highlight>
      </td>
      <td>
        {{employer.person.telephone}}
      </td>
      <td *ngIf="clientId">
        <button class="btn btn-sm btn-outline-info" (click)="assignEmployer(employer)">assign</button>
      </td>
    </tr>
    </tbody>
  </table>

</form>
