<div class="row">
  <div class="col-md-4 mb-3">
    <label class="form-label">From Date</label>
    <div class="input-group">
      <input class="form-control"
             placeholder="yyyy-mm-dd"
             name="fromDate"
             [(ngModel)]="fromDate"
             ngbDatepicker
             #fromDatePicker="ngbDatepicker"
             (ngModelChange)="onDateChange()" />
      <button class="btn btn-outline-secondary"
              (click)="fromDatePicker.toggle()"
              type="button">
        <i class="bi bi-calendar"></i>
      </button>
    </div>

    <div *ngIf="isDateTimeMode" class="mt-2">
      <label class="form-label">From Time</label>
      <ngb-timepicker [(ngModel)]="fromTime"
                      (ngModelChange)="onDateChange()"
                      [seconds]="true"></ngb-timepicker>
    </div>
  </div>

  <div class="col-md-4 mb-3">
    <label class="form-label">To Date</label>
    <div class="input-group">
      <input class="form-control"
             placeholder="yyyy-mm-dd"
             name="toDate"
             [(ngModel)]="toDate"
             ngbDatepicker
             #toDatePicker="ngbDatepicker"
             (ngModelChange)="onDateChange()"/>
      <button class="btn btn-outline-secondary"
              (click)="toDatePicker.toggle()"
              type="button">
        <i class="bi bi-calendar"></i>
      </button>
    </div>

    <div *ngIf="isDateTimeMode" class="mt-2">
      <label class="form-label">To Time</label>
      <ngb-timepicker [(ngModel)]="toTime"
                      (ngModelChange)="onDateChange()"
                      [seconds]="true"
      ></ngb-timepicker>
    </div>
  </div>
</div>
