<div *ngFor="let e of clientEmployerJobDescriptions" class="mt-2">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-2">
          <b class="text-primary mr-3">Job</b>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <span class="text-secondary">Firma:</span> <b> {{e.employer.company}}</b>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <span class="text-secondary">Kontakt:</span> {{e.employer.person.firstName}} {{e.employer.person.lastName}}
        </div>
        <div class="col">
          <span class="text-secondary">Position:</span> {{e.employer.position}}
        </div>

      </div>
      <div class="row">
        <div class="col">
          <span class="text-secondary">Telefon:</span>
          {{e.employer.person.telephone}}
        </div>
        <div class="col">
          <span class="text-secondary">Email:</span>
          {{e.employer.person.email}}
        </div>
      </div>
      <hr>
      <div class="row mt-1">
        <div class="col">
          <span class="text-secondary">von:</span>
          {{e.from}}
        </div>
        <div class="col">
          <span class="text-secondary">bis:</span>
          <span *ngIf="e.until != null">{{e.until}}</span>
          <span *ngIf="e.until === null"> heute</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <span class="text-secondary">branche:</span>
          {{e.industry}}
        </div>
        <div class="col">
          <span class="text-secondary">funktion:</span>
          {{e.jobFunction}}
        </div>
      </div>
      <div class="row">
        <div class="col">
          <span class="text-secondary">remarks:</span>
          {{e.jobRemarks}}
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-8"></div>
        <div class="col text-right">
          <button class="btn btn-sm btn-outline-primary" (click)="edit(e)">edit</button>
        </div>
        <div class="col text-right">
          <div style="font-size: x-small">
            <button class="btn btn-sm btn-outline-danger" (click)="deleteEmployerFromClient(e.employer.id)">remove
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
