<app-alert></app-alert>

@if (alert) {
  <div class="row">
    <div class="col-xl-5">
      <ngb-alert [type]="'warning'" (closed)="close()">
        <b>This client has an alert</b>
      </ngb-alert>
    </div>
  </div>
} @else {
  @if (client) {
    <app-page-header [firstPoint]="'dashboard'" [firstIcon]="faTachometerAlt" [firstLink]="'/dashboard'"
                     [secondPoint]="'clients'" [secondIcon]="faUsers" [secondLink]="'/clients/client-list'"
                     [endPoint]="client.firstName ? client.firstName + ' ' + client.lastName : client.keyword">
    </app-page-header>
  }
}

@if (!client) {
  <div class="card" aria-hidden="true">
    <div class="card-body">
      <h5 class="card-title placeholder-glow">
        <span class="placeholder col-6"></span>
      </h5>
      <p class="card-text placeholder-glow">
        <span class="placeholder col-7"></span>
        <span class="placeholder col-4"></span>
        <span class="placeholder col-4"></span>
        <span class="placeholder col-6"></span>
        <span class="placeholder col-8"></span>
      </p>
      <a class="btn btn-primary disabled placeholder col-6" aria-disabled="true"></a>
    </div>
  </div>
} @else {
  <div>

    <div class="row">
      <div class="col-xl-5">
        <div class="row">
          <div class="col">
            <h2 style="font-size: x-large; font-weight: bold">
              @if (client.firstName) {
                {{ client.firstName }} {{ client.lastName }}
              } @else {
                {{ client.keyword }}
              }
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-5">
            @if (reOpenCase) {
              <div class="mt-1 mb-2">
                <app-reopen-case [inputCase]="client.closedCases[client.closedCases.length -1]"
                                 (caseEitherNewOrReOpened)="closeModal($event)"/>
              </div>

            }
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col mt-1">
                <label class="text-secondary">Keyword:</label>
                {{ client.keyword }}
              </div>
            </div>
            <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" class="row mt-3">
              <div class="row">
                <div class="col-md-5">
                  <label class="text-secondary">Email:</label>
                </div>
                <div class="col-md-7">
                  {{ client.email }}
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <label class="text-secondary">Telephon:</label>
                </div>
                <div class="col-md-7">
                  {{ client.telephone }}
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <label class="text-secondary">Stadt:</label>
                </div>
                <div class="col-md-7">
                  {{ client.city }}
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <label class="text-secondary">Nationalität:</label>
                </div>
                <div class="col-md-7">
                  {{ client.nationality }}
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <label class="text-secondary">Gender:</label>
                </div>
                <div class="col-md-7">
                  {{ client.gender }}
                </div>
              </div>

              <div class="row">
                <div class="col-md-5">
                  <label class="text-secondary">weiterer Kontakt:</label>
                </div>
                <div class="col-md-7">
                  {{ client.furtherContact }}
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <label class="text-secondary">Kommentar:</label>
                </div>
                <div class="col-md-7">
                  {{ client.comment }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <app-show-client-employers [clientId]="client.id"></app-show-client-employers>
        </div>
        <div class="card mt-1">
          <div class="card-body">

            <div class="row">
              <div class="col-md-6">
                <!--label class="text-secondary">Woher kennt uns die Person:</label-->
              </div>
              <div class="col-md-6">
                <!--{{ client.howHasThePersonHeardFromUs }}-->
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label class="text-secondary">Arbeitsverhältnis:</label>
              </div>
              <div class="col-md-6">
                @if (client.openCase) {
                  {{ client.openCase.workingRelationship }}
                }
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label class="text-secondary">Menschenhandel:</label>
              </div>
              <div class="col-md-6">
                <div class="col-md-8">
                  @if (client.openCase) {
                    @if (client.openCase.humanTrafficking === true) {
                      <span>
                      ja
                    </span>
                    }
                    @if (client.openCase.humanTrafficking === false) {
                      <span>
                      nein
                    </span>
                    }
                    @if (client.openCase.humanTrafficking === null || client.openCase.humanTrafficking === undefined) {
                      <span></span>
                    }
                  }
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label class="text-secondary">AMS Sperre:</label>
              </div>
              <div class="col-md-6">
                @if (client.openCase) {
                  @if (client.openCase.jobCenterBlock === true) {
                    <span>
                      ja
                  </span>
                  } @else if (client.openCase.jobCenterBlock === false) {
                    <span>
                      nein
                  </span>
                  } @else if (client.openCase.jobCenterBlock === null || client.openCase.jobCenterBlock === undefined) {
                    <span></span>
                  }
                }
              </div>
            </div>

            <hr>
            <div class="row">

            </div>
            @if (client.currentResidentStatus) {
              <div class="row">
                <div class="col-md-6">
                  <label class="text-secondary">Aufenthaltstitel:</label>
                </div>
                <div class="col-md-6">
                  {{ client.currentResidentStatus }}
                </div>
              </div>
            }
            @if (client.vulnerableWhenAssertingRights !== null && client.vulnerableWhenAssertingRights !== undefined) {
              <div class="row">
                <div class="col-md-6">
                  <label class="text-secondary">gefährdet bei Geltendmachung:</label>
                </div>
                <div class="col-md-6">
                @if (client.vulnerableWhenAssertingRights) {
                  <span>
                    ja
                  </span>
                } @else {
                  <span>
                    nein
                  </span>
                }
                </div>
              </div>
            }
            @if (client.openCase.targetGroup) {
              <div class="row">
                <div class="col-md-6">
                  <label class="text-secondary">Zielgruppe:</label>
                </div>
                <div class="col-md-6">
                  @if (client.openCase) {
                    {{ client.openCase.targetGroup }}
                  }
                </div>
              </div>
            }
            @if (client.openCase.jobFunction.length > 0) {
              <div>
                <label class="text-secondary">Tätigkeiten:</label>&nbsp;
                @for (jobFunction of client.openCase.jobFunction; track jobFunction) {
                  <span>
                    <span [innerHTML]="jobFunction.name"></span>&nbsp;
                  </span>
                }
              </div>
            }
            @if (client.openCase.counselingLanguages.length > 0) {
              <div>
                <label class="text-secondary">Beratungssprachen:</label>&nbsp;
                @if (client.openCase) {
                  @for (language of client.openCase.counselingLanguages; track language) {
                    <span>
                      <span [innerHTML]="language.name"></span>&nbsp;
                    </span>
                  }
                }
              </div>
            }
            @if (client.interpreterNecessary !== null && client.interpreterNecessary !== undefined) {
              <div class="row">
                <div class="col-md-5">
                  <label class="text-secondary">Dolmetch erforderlich:</label>
                </div>
                <div class="col-md-7">
                  @if (client.interpreterNecessary) {
                    <span>
                      ja
                    </span>
                  } @else {
                    <span>
                      nein
                    </span>
                  }
                </div>
              </div>
            }
            @if (client.openCase.jobMarketAccess.length > 0) {
              <div>
                <label class="text-secondary">Arbeitsmarktzugang:</label>&nbsp;
                @if (client.openCase) {
                  @for (access of client.openCase.jobMarketAccess; track access) {
                    <span>
                      <span [innerHTML]="access.name"></span>&nbsp;
                    </span>
                  }
                }
              </div>
            }
            @if (client.openCase.originOfAttention.length > 0) {
              <div>
                <label class="text-secondary">Wo hat die Person von uns gehört:</label>&nbsp;
                @if (client.openCase) {
                  @for (access of client.openCase.originOfAttention; track access) {
                    <span>
                      <span [innerHTML]="access.name"></span>&nbsp;
                    </span>
                  }
                }
              </div>
            }
            @if (client.openCase.undocumentedWork.length > 0) {
              <div>
                <label class="text-secondary">undokumentierte Arbeit:</label>&nbsp;
                @if (client.openCase) {
                  @for (access of client.openCase.undocumentedWork; track access) {
                    <span>
                      <span [innerHTML]="access.name"></span>&nbsp;
                    </span>
                  }
                }
              </div>
            }
            @if (client.openCase.complaints.length > 0) {
              <div>
                <label class="text-secondary">{{ Label.COMPLAINT + ':' }}</label>&nbsp;
                @if (client.openCase) {
                  @for (access of client.openCase.complaints; track access) {
                    <span>
                      <span [innerHTML]="access.name"></span>&nbsp;
                    </span>
                  }
                }
              </div>
            }
            @if (client.openCase.industryUnion.length > 0) {
              <div>
                <label class="text-secondary">{{ Label.INDUSTRY_UNION + ':' }}</label>&nbsp;
                @if (client.openCase) {
                  @for (access of client.openCase.industryUnion; track access) {
                    <span>
                      <span [innerHTML]="access.name"></span>&nbsp;
                    </span>
                  }
                }
              </div>
            }
            @if (client.openCase.sector.length > 0) {
              <div>
                <label class="text-secondary">{{ Label.SECTOR + ':' }}</label>&nbsp;
                @if (client.openCase) {
                  @for (access of client.openCase.sector; track access) {
                    <span>
                      <span [innerHTML]="access.name"></span>&nbsp;
                    </span>
                  }
                }
              </div>
            }
          </div>
        </div>
        <div class="row mt-1">
          <div class="col text-lg-start">
            <ul class="list-group list-group-horizontal">
              <a class="list-group-item" [routerLink]="['edit']" title="edit">
                <fa-icon class="text-secondary" [icon]="faEdit"></fa-icon> edit
              </a>
              <li class="list-group-item"><app-delete [id_to_delete]="client.id" [type]="deleteTypeClient"
                                                      [delete_object_name]="client.keyword"></app-delete></li>
              <a class="list-group-item" [routerLink]="['/clients/' + client.id + '/create-counseling']">
                <fa-icon class="text-secondary" [icon]="faTasks"></fa-icon> neue beratung
              </a>
            </ul>

          </div>
        </div>
        <div class="row mt-1">
          <div class="col mt-4">
          <span class="text-secondary text-left">
            Gesamtberatungsdauer:
          </span>
            <span>
            {{ totalHumanReadableDuration }}
          </span>
          </div>
        </div>
        <div class="row mt-1">
          <app-case-task-list [caseId]="client.openCase.id"></app-case-task-list>
        </div>
        <!--        @if (closeCase) {
                  <div class="row mt-1">
                    <div class="row">
                      <div class="col">
                        <button class="btn btn-link" (click)="openCloseCaseModal(close_case)">
                          <small>Fall abschließen?</small>
                        </button>
                      </div>
                    </div>
                    <div class="row">
                    </div>
                  </div>
                }-->

      </div>
      <div class="col-xl-7">
        <app-show-counselings-per-client [clientId]="client.id"></app-show-counselings-per-client>
      </div>
    </div>

    <ng-template #close_case let-modal>
      <div class="modal-header">
        <h5>Fall schließen und Klient:in weiter vermitteln</h5>
        <button type="button" class="btn btn-lg btn-outline-dark" aria-label="Close"
                (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        @if (client.openCase) {
          <app-close-case (caseClosed)="closeCaseModal($event)" [inputCase]="client.openCase"
                          [closeCaseProperty]="true"/>
        }
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-outline-danger" (click)="modal.close('Save click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </ng-template>

    <ng-template #content_create_counseling let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Beratung anlegen</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-create-counseling></app-create-counseling>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-outline-danger" (click)="modal.close('Save click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </ng-template>

    <ng-template #edit_client let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Edit Client</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--  <div class="modal-body">
          <app-edit-client [client]="client"></app-edit-client>
        </div>-->
      <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-outline-danger" (click)="modal.close('Save click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </ng-template>

    <ng-template #list_employer let-modal>
      <div class="modal-header">
        <h4 class="modal-title">List Employer</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        </button>
      </div>
      <div class="modal-body">
        <app-show-employers-list [clientId]="client.id"></app-show-employers-list>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-outline-danger" (click)="modal.close('Save click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </ng-template>

  </div>

}
