<div [@routerTransition]>
  <h3 class="text-muted mb-4"><small>Statistics Overview</small></h3>

  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-lg-6">
          <app-stat [bgClass]="'warning'" [icon]="faTasks" [count]="counselingCount" [label]="'Beratungen'" [link]="'/clients/counselings'"></app-stat>
        </div>
        <div class="col-lg-6">
          <app-stat [bgClass]="'success'" [icon]="faUser" [count]="clientCount" [label]="'Klient:innen'" [link]="'/clients/client-list'"></app-stat>
        </div>
        <!--          <div class="col-xl-3 col-lg-6">-->
        <!--              <app-stat [bgClass]="'warning'" [icon]="faSurprise" [count]="employerCount" [label]="'Arbeitgeber:innen'"></app-stat>-->
        <!--          </div>-->
      </div>
      <div class="row mt-3">
        <div class="col">
          <div *ngIf="currentUser.admin">
            <div>
              <a [routerLink]="['/clients/create']" class="btn btn-lg btn-outline-success">create client</a>
            </div>
          </div>
          <div class="mt-3">
            <!--app-download></app-download-->
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-lg-10">
          <app-doughnut></app-doughnut>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card card-default">
          <div class="card-header">
            <i class="fa fa-clock-o fa-fw"></i> Urgent Matter
          </div>
          <!-- /.card-header -->
          <app-timeline [user_id]="currentUser.id"></app-timeline>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
  </div>


  <div class="row">
    <div class="col-lg-6">
      <!--            <div class="card card-default mb-3">-->
      <!--                <div class="card-header">-->
      <!--                    <i class="fa fa-bell fa-fw"></i> Notifications card-->
      <!--                </div>-->
      <!--                &lt;!&ndash; /.card-header &ndash;&gt;-->
      <!--                <app-notification></app-notification>-->
      <!--                &lt;!&ndash; /.card-body &ndash;&gt;-->
      <!--            </div>-->
      <!--            &lt;!&ndash; /.card &ndash;&gt;-->
      <!--            <app-chat></app-chat>-->
      <!-- /.card .chat-card -->
    </div>

    <!-- /.col-lg-8 -->
    <!-- /.col-lg-4 -->
  </div>
</div>
