@import "css/bootstrap.min.css";
@import "@ng-select/ng-select/themes/default.theme.css";

body {
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
}

a {
  cursor: pointer;
  color: #007bff;
}

.custom-a {
  color: #007bff;
  cursor: pointer;
}

.custom-click {
  cursor: pointer;
}

.custom-done {
  color: #999999;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .card-for-phone {
    margin-left: -35px;
    margin-right: -35px;
  }
}

.multiselect-dropdown .dropdown-btn .selected-item {
  border: 1px solid #e2e2e3 !important;
  background: #e2e2e2 !important;
  color: #555555 !important;
  border-radius: 5px !important;
  max-width: 100% !important;
}
