  <div class="form-group">
    <div class="row">
      <div class="col-md-4">
        <label>Termin</label>&nbsp;
        <input type="text" name="counselingDate" [(ngModel)]="counseling.counselingDate" class="form-control"/>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>Anliegen</label>
    <textarea type="text" name="concern" [(ngModel)]="counseling.concern" placeholder="concern"
              class="form-control"></textarea>
    {{CONCERN_MAX_LENGTH - counseling.concern?.length}}
  </div>

  <!-- category section start -->
  <div class="row">
    <div class="col">
      <!-- concern category section -->
      <div class="form-group">
        <label>Anliegen Kategorie</label>
        <select *ngIf="concernCategories" class="form-control" aria-label="select concern category">
          <option>{{counseling.concernCategory}}</option>
          <option *ngFor="let c of concernCategories" [value]="c" (click)="selectConcernCat(c)">
            {{c.name}}
          </option>
        </select>
      </div>
      <div *ngIf="categoryExists != null">
        <span class="text-danger">{{categoryExists}}</span>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-link" (click)="collapse.toggle()"
                [attr.aria-expanded]="!concernCategoryIsCollapsed"
                aria-controls="collapseExample">
          <small>Neue Kategorie hinzufügen</small>
        </button>
        <div #collapse="ngbCollapse" [(ngbCollapse)]="concernCategoryIsCollapsed">
          <input type="text" name="newCategory" [(ngModel)]="newCategory" placeholder="new concern category"
                 class="form-control"/>
          <button class="btn btn-sm btn-outline-primary" type="button"
                  (click)="addNewCategory(CONCERN_CATEGORY)"
                  [disabled]="newCategory == null || newCategory == ''">
            neue Kategorie hinzufügen
          </button>
        </div>
      </div>
      <!-- concern category section end -->
    </div>
    <div class="col">
      <!-- activity category start -->
      <div class="form-group">
        <label>Aktivitätskategorie</label>
        <select class="form-control">
          <option>{{counseling.activityCategory}}</option>
          <option *ngFor="let c of activityCategories" [value]="c" (click)="selectActivityCat(c)">
            {{c.name}}
          </option>
        </select>
      </div>
      <div *ngIf="categoryExists != null">
        <span class="text-danger">{{categoryExists}}</span>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-link" (click)="collapseAct.toggle()"
                [attr.aria-expanded]="!activityCategoryIsCollapsed"
                aria-controls="collapseExample">
          <small>neue Kategorie</small>
        </button>
        <div #collapseAct="ngbCollapse" [(ngbCollapse)]="activityCategoryIsCollapsed">
          <input type="text" name="newCategory" [(ngModel)]="newActivityCategory" placeholder="new activity category"
                 class="form-control"/>
          <button class="btn btn-sm btn-outline-success" type="button"
                  (click)="addNewCategory(ACTIVITY_CATEGORY)"
                  [disabled]="newActivityCategory == null || newActivityCategory == ''">
            neue Kategorie hinzufügen
          </button>
        </div>
      </div>
      <!-- activity category end -->
    </div>
  </div>
  <!-- category section end -->

  <div class="form-group">
    <label>Aktivität</label>
    <textarea type="text" name="activity" [(ngModel)]="counseling.activity" placeholder="activity"
              class="form-control"></textarea>
    {{ACTIVITY_MAX_LENGTH - counseling.activity?.length}}
  </div>

  <div class="form-group">
    <label>Registriert von</label>
    <input type="text" name="registeredBy" [(ngModel)]="counseling.registeredBy" placeholder="registeredBy"
           class="form-control"/>
  </div>
  <div class="form-group">
    <button class="btn btn-outline-danger" (click)="onSubmit()" [disabled]="counseling.activity?.length > ACTIVITY_MAX_LENGTH
            || counseling.concern?.length > CONCERN_MAX_LENGTH || loading">submit</button>
  </div>

<div class="spinner-border text-primary" role="status" *ngIf="loading">

</div>
