<div class="card mb-3">
  <div class="card-header">
    The countries the clients come from
  </div>
  <div class="card-body" *ngIf="doughnutChartLabels">
    <div>
      <canvas baseChart height="280px"
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
              [colors]="colors"
              [options]="options"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
      </canvas>
      <!--
      * [data]="doughnutChartData"
      * [labels]="doughnutChartLabels"
      -->
    </div>
  </div>
</div>
