<div class="nav">
  <div class="container">
  <span class="brand">
    <a [routerLink]="['/']"> service - b . org </a>
  </span>
    <span *ngIf="currentUser != null" class="nav-user-man">
      <a [routerLink]="['/users', currentUser.username]" [innerHTML]="currentUser.username"></a>
       |
      <a [routerLink]="['/login']"> logout</a>
  </span>
    <span *ngIf="currentUser == null" class="nav-user-man">
    <a [routerLink]="['/login']">Login </a>
      |
    <a [routerLink]="['/register']"> Register</a>
  </span>
  </div>
</div>
<div class="mt-4"></div>
