<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']"><b class="text-danger">undok client management</b></a>
    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
      <!-- <span class="navbar-toggler-icon"></span> -->
      <fa-icon class="text-warning" [icon]="faBars"></fa-icon>
    </button>
    <div class="collapse navbar-collapse">
      <!--<form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="{{ 'Search' }}" disabled>
      </form>-->
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a href="javascript:void(0)" class="nav-link mt-1"
             style="padding: 0.375rem 1rem !important; border-color: #999;"
             (click)="rltAndLtr()"
          >
            RTL/LTR
          </a>
        </li>
        &nbsp
      </ul>
    </div>
  </div>
</nav>
