<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Set Due Date</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dueDate">Due Date</label>
        <div class="input-group">
          <input id="dueDate" class="form-control" [(ngModel)]="dueDate" [placeholder]="dueDate" name="dp" ngbDatepicker #dp="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>
<div *ngIf="dueDate != 'yyyy-mm-dd'">
  <small><a class="text-primary" (click)="open(content)">due date:</a></small><small class="text-secondary"> <b> {{dueDate}}</b></small>
</div>
<span *ngIf="dueDate == 'yyyy-mm-dd'">
  <small><a class="text-primary" (click)="open(content)">due date</a></small>
</span>
