<!--<div *ngIf="show_set_due_date">
<ngb-datepicker></ngb-datepicker>
</div>
<div *ngIf="dueDate != null" class="mt-1 ml-2">
  <small><b>dueDate:</b> {{dueDate | date: 'dd.MM.yyyy'}}</small>
</div>
<div class="ml-2 mb-1">
  <small><a (click)="showSetDueDate()">setDueDate</a></small>
</div>-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Set Due Date</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dueDate">Due Date</label>
        <div class="input-group">
          <input id="dueDate" class="form-control" [(ngModel)]="dueDate" [placeholder]="dueDate" name="dp" ngbDatepicker #dp="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>
<span>
  <small><a class="text-primary" (click)="open(content)">due date</a></small>
</span>
<hr>
<div *ngIf="dueDate != 'yyyy-mm-dd'" class="ml-2">
  <small><b>dueDate:</b> {{dueDate}}</small> <!--| date: 'dd.MM.yyyy'}}</small-->
</div>
<pre>{{closeResult}}</pre>
