<app-navbar></app-navbar>
<div class="container">
  <div class="mb-2 mt-2">
    <b>{{todo_title}}</b>
  </div>
  <div class="p-grid">
    <div class="p-col-12 p-md-6 mb-2">
      <div *ngIf="executionId != null">
        <app-check-variable [executionId]="executionId" name="todoFinished" t="todo is finished" f="todo is not finished"></app-check-variable>
      </div>
    </div>
    <div class="p-col-12 p-md-6">
      <div *ngIf="executionId != null">
        <app-complete-task [task_id]="taskId" [execution_id]="executionId" type="todo"></app-complete-task>
      </div>
    </div>
  </div>
</div>
