@if (user(); as u) {
  <app-page-header [firstPoint]="'dashboard'"
                   [firstIcon]="faTachometerAlt"
                   [firstLink]="'/dashboard'"
                   [secondPoint]="'users'"
                   [secondIcon]="faUsers"
                   [secondLink]="'/list-users'"
                   [endPoint]="u.username"/>

  <app-alert></app-alert>

  <div class="row mt-5">
    <div class="col-5">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-6">
              <b class="text-secondary">username</b>
            </div>
            <div class="col-6">
              {{ u.username }}
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-6">
              <b class="text-secondary">email</b>
            </div>
            <div class="col-6">
              {{ u.email }}
            </div>
          </div>

          <div class="row mb-2">
            <div class="col">
              <b class="text-secondary">role</b>
            </div>
            <div class="col">
              @if (u.admin) {
                <span>ADMIN</span>
              } @else {
                <span>{{ u.roles[0].name }}</span>
              }
            </div>
          </div>

          <div class="row">
            <div class="col">
              <b class="text-secondary">locked</b>
            </div>
            <div class="col">
              @if (u.locked) {
                <span>locked</span>
              } @else {
                <span>not locked</span>
              }
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-1"></div>

    <div class="col-5">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col">
              <b class="text-secondary">set admin</b>
            </div>
            @if (currentUser()?.email !== u.email && !u.locked) {
              <div class="col text-right">
                <input
                  type="checkbox"
                  [checked]="u.admin"
                  (change)="setAdmin(u.id, u.admin)">
              </div>
            } @else if (currentUser()?.email === u.email) {
              <div class="col text-right">
                don't do this
              </div>
            }
          </div>

          @if (!u.confirmed) {
            <div class="row mt-3">
              <div class="col">
                <b class="text-secondary">send confirmation link</b>
              </div>
              <div class="col">
                @if (!u.locked && currentUser()?.username !== u.username) {
                  <button
                    class="btn btn-sm btn-outline-dark"
                    (click)="resendConfirmationLink(u.id)">
                    yes
                  </button>
                }
                @if (u.locked) {
                  <button class="btn btn-sm btn-outline-dark" [disabled]="true">
                    no
                  </button>
                }
                @if (u.confirmed && !u.locked) {
                  <button class="btn btn-sm btn-outline-dark" [disabled]="true">
                    no
                  </button>
                }
              </div>
            </div>
          }

          <div class="row mt-2">
            <div class="col">
              <b class="text-secondary">lock</b>
            </div>
            <div class="col">
              <button
                class="btn btn-sm btn-outline-danger"
                (click)="lockUser()"
                [disabled]="currentUser()?.username === u.username">
                @if (!u.locked) {
                  <span>yes</span>
                } @else {
                  <span>unlock</span>
                }
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 mt-3">
    @if (currentUser()?.email === u.email) {
      <ul class="list-group">
        <li class="list-group-item">
          <a [routerLink]="['/users', u.username, 'edit']">change email</a>
        </li>
        <li class="list-group-item">
          <a [routerLink]="['/users', u.username, 'changepw']">change pw</a>
        </li>
      </ul>
    }
  </div>
}
