<app-navbar></app-navbar>
<div class="container">
  <div class="p-grid">
    <div class="p-col">
      <div>
        <!--        <img src="{{user.avatar}}" class="img-avatar">-->
      </div>
    </div>
    <div class="p-col">
      <div>
        {{user.username}}
      </div>
      <div>
        {{user.email}}
      </div>
      <div *ngIf="user">
        <div *ngIf="currentUser.email == user.email">
          <a [routerLink]="['/users', user.username, 'edit']">edit</a>
        </div>
      </div>
    </div>
  </div>
</div>
