<div class="container mt-5 mb-5">

  <app-date-picker
    [mode]="'date'"
    (dateRangeChange)="onDateRangeSelected($event)"></app-date-picker>
  <button class="btn btn-primary" (click)="fetchGenericCount()">Fetch Count</button>

  <h4 class="mt-3">First Counseling Count by Date Range</h4>
  <input type="checkbox" [(ngModel)]="firstCounselingOnly">

  <h4 class="mt-3">Get the number of languages used in the consultation for which an interpreter was required</h4>
  <input type="checkbox" [(ngModel)]="languagesUsed">


  <div *ngIf="error" class="mt-3 alert alert-danger">{{ error }}</div>
  <div *ngIf="!error && result !== null" class="mt-3 alert alert-info">
    Number of clients with first counseling in range: <strong>{{ result }}</strong>
  </div>

  <div *ngIf="languageError" class="mt-3 alert alert-danger">{{ languageError }}</div>
  <div *ngIf="!languageError && languagesUsedResult !== null" class="mt-3 alert alert-info">
    languages in range:<br>
    <strong>
      @for (language of languagesUsedResult; track language) {
        <span [innerHTML]="language.language"></span>:
        <span [innerHTML]="language.count"></span>
        <hr>
      }
    </strong>
  </div>
</div>
<div style="height: 10000px;"></div>
