<app-alert></app-alert>
<form #createClientForm="ngForm" (ngSubmit)="submit()" class="mt-1">
  <div class="row">
    <div class="col-md-4">
      <!-- Person -->
      <div class="form-group">
        <label>Vorname</label>
        <input type="text" class="form-control" name="firstName" [(ngModel)]="firstName" placeholder="firstName"/>
      </div>
      <div class="form-group">
        <label>Nachname</label>
        <input type="text" class="form-control" name="lastName" [(ngModel)]="lastName" placeholder="lastName"/>
      </div>
      <div class="form-group">
        <label>Gender</label>
        <input type="text" class="form-control" name="lastName" [(ngModel)]="gender" placeholder="gender"/>
      </div>

      <div class="form-group">
        <label>Geburtstag</label>
        <!--<div class="input-group">
          <input class="form-control" placeholder="Date of birth"
                 name="dp" [(ngModel)]="dateOfBirth" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
              <fa-icon class="text-info" [icon]="faBars"></fa-icon>
            </button>
          </div>
        </div>-->
        <div class="input-group">
          <input class="form-control" type="date" [(ngModel)]="dateOfBirth" name="d">
        </div>
      </div>

      <!-- Address -->
      <div class="form-group">
        <label>Straße</label>
        <input type="text" class="form-control" name="street" [(ngModel)]="street" placeholder="street"/>
      </div>
      <div class="form-group">
        <label>Postleitzahl</label>
        <input type="text" class="form-control" name="zipCode" [(ngModel)]="zipCode" placeholder="zip code"/>
      </div>
      <div class="form-group">
        <label>Stadt</label>
        <input type="text" class="form-control" name="city" [(ngModel)]="city" placeholder="city"/>
      </div>
      <div class="form-group">
        <label>Land</label>
        <select class="form-control">
          <option *ngFor="let c of countries" [value]="c" (click)="onCountryChange(c)">{{c}}</option>
        </select>
      </div>

      <div class="form-group">
        <label>telephon</label>
        <input type="tel" class="form-control" name="telephone" [(ngModel)]="telephone" placeholder="telephone">
      </div>

    </div>

    <div class="col-md-4">

      <!-- client: -->
      <div class="form-group">
        <label>Keyword</label>
        <input type="text" class="form-control" name="keyword" [(ngModel)]="keyword" placeholder="keyword"/>
      </div>
      <div class="form-group">
        <label>Kontaktdaten (z.B. Email)</label>
        <input type="text" class="form-control" name="contactData" [(ngModel)]="contactData" placeholder="contactData"/>
      </div>
      <div class="form-group">
        <label>Bildung</label>
        <input type="text" class="form-control" name="education" [(ngModel)]="education" placeholder="education"/>
      </div>
      <div class="form-group">
        <label>Wo hat die Person von uns gehört?</label>
        <input type="text" class="form-control" name="howHasThePersonHeardFromUS"
               [(ngModel)]="howHasThePersonHeardFromUs" placeholder="how has the person heard from us"/>
      </div>
      <div class="form-check mt-3">
        <input type="checkbox" class="form-check-input" [(ngModel)]="vulnerableWhenAssertingRights"
               name="vulnerableWhenAssertingRights">
        <label class="form-check-label">vulnerable when asserting rights</label>
      </div>
      <div class="form-check mt-3">
        <input type="checkbox" class="form-check-input" id="interpreter" [(ngModel)]="interpreterNecessary" name="interpreterNecessary">
        <label class="form-check-label" for="interpreter">Interpreter Necessary</label>
      </div>
      <div class="form-group mt-4">
        <label>Familienstatus</label>
        <select class="form-control">
          <option (click)="onMaritalChange('unknown')">Marital Status</option>
          <option *ngFor="let marital of maStatus" [value]="marital"
                  (click)="onMaritalChange(marital)">{{marital}}</option>
        </select>
      </div>

      <div class="form-group">
        <label>Staatsbürgerschaft</label>
        <input type="text" class="form-control" name="nationality" [(ngModel)]="nationality" placeholder="nationality"/>
      </div>

      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" name="email" [(ngModel)]="email" placeholder="email" />
      </div>


    </div>
    <div class="col-md-4">
      <!--
      <div class="form-group">
        <label>formerResidentStatus</label>
        <input type="text" class="form-control" name="formerResidentStatus" [(ngModel)]="formerResidentStatus" placeholder="formerResidentStatus" />
      </div>
      -->
      <div class="form-group">
        <label>Sprache</label>
        <input type="text" class="form-control" name="language" [(ngModel)]="language" placeholder="language"/>
      </div>
      <div class="form-group">
        <label>Aufenthaltstitel</label>
        <input type="text" class="form-control" name="currentResidentStatus" [(ngModel)]="currentResidentStatus" placeholder="residentStatus" />
      </div>
      <div class="form-group">
        <label>Arbeitsmarktzugang</label>
        <input type="text" class="form-control" name="labourMarketAccess" [(ngModel)]="labourMarketAccess"
               placeholder="labourMarketAccess"/>
      </div>
      <div class="form-group">
        <label>Position</label>
        <input type="text" class="form-control" name="position" [(ngModel)]="position" placeholder="position"/>
      </div>
      <div class="form-group">
        <label>Branche</label>
        <input type="text" class="form-control" name="sector" [(ngModel)]="sector" placeholder="sector"/>
      </div>
      <div class="form-group">
        <label>Gewerkschaft</label>
        <input type="text" class="form-control" name="union" [(ngModel)]="union" placeholder="union"/>
      </div>
      <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" [(ngModel)]="membership" name="membership">
        <label class="form-check-label">Mitgliedschaft</label>
      </div>

      <div class="form-group mt-3">
        <label>organization</label>
        <input type="text" class="form-control" name="organization" [(ngModel)]="organization"
               placeholder="organization"/>
      </div>

    </div>

  </div>

  <div class="row">
    <div class="col">
      <div class="form-group mt-3">
        <button type="button" class="btn btn-lg btn-success" (click)="submit()" [disabled]="loading">Save</button>
      </div>
    </div>
  </div>
</form>
