@if (categoryExists()) {
  <div class="mb-2">
    <span class="text-danger">{{ categoryExists() }}</span>
  </div>
}
@if (successMessage()) {
  <div class="mb-2">
    <span class="text-success">{{ successMessage() }}</span>
  </div>
}

<div class="form-group mb-2">
  <button type="button"
          class="btn btn-link"
          (click)="toggleCollapse()"
          [attr.aria-expanded]="!categoryIsCollapsed()"
          aria-controls="collapseExample">
    <div class="label-text-size">
      {{ displayLabel() }} neu
    </div>
  </button>

  <div
    #collapse="ngbCollapse"
    [(ngbCollapse)]="categoryIsCollapsed">
    <input type="text"
           name="newCategory"
           [(ngModel)]="newCategory"
           placeholder="{{ Label[categoryType()] }}"
           class="form-control"
           [disabled]="isSubmitting()"/>

    <button class="btn btn-sm btn-outline-primary mt-2"
            type="button"
            (click)="addNewCategory(categoryType())"
            [disabled]="!isFormValid()">
      @if (isSubmitting()) {
        <span>Wird hinzugefügt...</span>
      } @else {
        <span>{{ displayLabel() }} hinzufügen</span>
      }
    </button>
  </div>
</div>
