<div *ngIf="categoryExists != null">
  <span class="text-danger">{{categoryExists}}</span>
</div>
<div class="form-group mb-1">
  <button type="button" class="btn btn-link" (click)="collapse.toggle()"
          [attr.aria-expanded]="!categoryIsCollapsed"
          aria-controls="collapseExample">
    <p class="label-text-size">
      neue {{label}}
    </p>
  </button>
  <div #collapse="ngbCollapse" [(ngbCollapse)]="categoryIsCollapsed">
    <input type="text" name="newCategory" [(ngModel)]="newCategory" placeholder="{{categoryType}}"
           class="form-control"/>
    <button class="btn btn-sm btn-outline-primary" type="button"
            (click)="addNewCategory(categoryType)"
            [disabled]="newCategory == null || newCategory == ''">
      <span>{{label}} hinzufügen</span>
    </button>
  </div>
</div>
