<div *ngIf="categoryExists != null">
  <span class="text-danger">{{categoryExists}}</span>
</div>
<div class="form-group mb-2">
  <button type="button" class="btn btn-link" (click)="collapse.toggle()"
          [attr.aria-expanded]="!categoryIsCollapsed"
          aria-controls="collapseExample">
    <div class="label-text-size">
      @if (label) {
       {{label}} neu
      } @else if (stringLabel) {
        {{stringLabel}} neu
      }
    </div>
  </button>
  <div #collapse="ngbCollapse" [(ngbCollapse)]="categoryIsCollapsed">
    <input type="text"
           name="newCategory"
           [(ngModel)]="newCategory"
           placeholder="{{Label[categoryType]}}"
           class="form-control"/>
    <button class="btn btn-sm btn-outline-primary" type="button"
            (click)="addNewCategory(categoryType)"
            [disabled]="newCategory == null || newCategory == ''">
      <span>{{label}} hinzufügen</span>
    </button>
  </div>
</div>
