<app-alert></app-alert>
<p>Daten Backup</p>
<div class="row">
  <div class="col-md-6">
    <div><b>Clients</b></div>
    @for (clientsCsv of clientsList(); track clientsCsv) {
      <div class="row">
        <div class="col-12">
          <a class="csvlink" (click)="getCsvAsBackup(clientsCsv)">{{ clientsCsv }}</a>
        </div>
      </div>
    } @empty {
      <div class="row">
        <div class="col-12">
          <small class="text-muted">No client backups available</small>
        </div>
      </div>
    }
  </div>

  <div class="col-md-6">
    <div><b>Counselings</b></div>
    @for (counselingsCsv of counselingsList(); track counselingsCsv) {
      <div class="row">
        <div class="col-md-12">
          <a class="csvlink" (click)="getCsvAsBackup(counselingsCsv)">{{ counselingsCsv }}</a>
        </div>
      </div>
    } @empty {
      <div class="row">
        <div class="col-md-12">
          <small class="text-muted">No counseling backups available</small>
        </div>
      </div>
    }
  </div>
</div>
