<div class="container">
  <div class="row">
    <div class="col">
      <img src="{{avatar}}" class="img-avatar">
    </div>
    <div class="col">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="form-group mt-1">
          <input type="text" class="form-control" formControlName="name" placeholder="name"
                 [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
        </div>
        <div class="form-group mt-1">
          <input type="email" class="form-control" formControlName="email" placeholder="email"
                 [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
        </div>
        <div class="form-group mt-1">
          <button class="btn btn-outline-success">Zack</button>
        </div>
      </form>
    </div>
    <div class="col">
      <a [routerLink]="['/users', user.name, 'changepw']">change pw</a>
    </div>
    <div class="col">
      <div class="form-group mt-1">
        <span>// here we have to find a solution for file updload</span>
        <!-- <p-fileUpload name="avatar" accept="image/*" url="{{avatar_upload_url}}" maxFileSize="1000000"></p-fileUpload>-->
      </div>
    </div>
  </div>
</div>
<!--
url="http://localhost:3000/users/29/updateavatar"
 -->
