<app-navbar [titlePrefix]="navBarPrefix"></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-xl-6">
      <div class="card">
        <div class="card-body">
          <div class="spinner-border text-warning" *ngIf="loading === true"></div>
          <div class="row" *ngIf="loading === false">
            <div class="col-md-4">
              <img src="{{movie.imageurl}}" width="100%">
            </div>
            <div class="col-md-8">
              <h4>{{movie.title}}</h4>
              <p><small>{{movie.runtime}} {{movie.genres}}</small></p>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col">
              <p>{{movie.shortdescription}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div *ngFor="let firstLevel of movieTheaters | keyvalue">
        <div class="card">
          <div class="card-header">
            {{ firstLevel.value[0] }}
          </div>
          <div *ngFor="let t of firstLevel.value[1] | keyvalue">
            <div *ngFor="let s of t.value">
              <a [routerLink]="['/cinephilia/theaters/', s.theater_id, 'movies']">
                <div class="singleMovie">
                  <b>{{t.key}}</b><br>
                  <small>{{s.time.toString() | slice : 11:16}}</small>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
