h4 {
  font-weight: bold;
  font-size: 16px;
}

div {
  font-size: 13px;
}

.singleMovie {
  border-bottom: 1px solid #000000;
  margin-left: 0;
  margin-right: 0;
  padding-left: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
}

a {
  text-decoration: none;
  color: #1d2124;
}

.singleMovie:hover {
  background-color: #f1b0b7;
}
