<div class="row">
  <div>
    <b class="text-secondary">Fall geschlossen</b>
  </div>
  <div>
    @if (inputCase.referredTo !== null) {
      weitervermittelt an: <b> {{ inputCase.referredTo }} </b>
    }
  </div>
  <!--  for later use: -->
<!--  <div>
    <button class="btn btn-sm btn-outline-success" (click)="openReopenCaseModal(reopen_case)">
      Wieder öffnen?
      Neuen Fall anlegen?
    </button>
  </div>-->
</div>


<ng-template #reopen_case let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Fall wieder öffnen?</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    </button>
  </div>
  <div class="modal-body">
    <button class="btn btn-sm btn-outline-success" (click)="checkReopenCase()">wieder öffnen</button>
    &nbsp;
    <button class="btn btn-sm btn-outline-success" (click)="createNewCaseForm()">neuer Fall</button>

    @if (createNewCase === true) {
      <hr>
      <input type="text"
             [(ngModel)]="newCaseName"
             class="form-control"
             placeholder="new case name">
      <br>
      <button class="btn btn-sm btn-outline-success" (click)="newCase()" [disabled]="!newCaseName">
        neuen Fall anlegen
      </button>
    }
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-lg btn-outline-danger" (click)="modal.close('Save click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</ng-template>
