<div class="container">
  <div class="row">
    <div class="col-xl-4">
      <div *ngIf="messagetype == 'success'" class="alert alert-success">
        {{message.text}}
      </div>
      <div *ngIf="messagetype == 'error'" class="alert alert-danger">
        {{message.text}}
      </div>
      <div *ngIf="messagetype == 'info'" class="alert alert-info">
        {{message.text}}
      </div>
      <div *ngIf="messagetype == 'warning'" class="alert alert-warning">
        {{message.text}}
      </div>
    </div>
  </div>
</div>


