<div class="card-body">
  <ul class="timeline" *ngFor="let item of items; let i = index">
    <li *ngIf="(i % 2 == 0) && (i % 3 == 1)">
      <div class="timeline-badge danger"><i class="fa fa-bomb"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-body">
          <div>
            <small class="text-muted"><i class="fa fa-clock-o"></i> active since: {{item.createdAt | date:'longDate'}}</small>
          </div>
          <div>
            <b><span [innerHTML]="item.name"></span></b>
          </div>
          <div>
            <small>in Todo: <a [routerLink]="['/tasks/todo', item.taskId]" [innerHTML]="item.todoTitle"></a></small>
          </div>
          <div *ngIf="item.dueDate">
            <small>dueDate: <b>{{item.dueDate}}</b></small>
          </div>
        </div>
      </div>
    </li>
    <li *ngIf="(i % 2 == 0) && !(i % 3 == 1)">
      <div class="timeline-badge warning"><i class="fa fa-graduation-cap"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-body">
          <div>
            <small class="text-muted"><i class="fa fa-clock-o"></i> active since: {{item.createdAt | date:'longDate'}}</small>
          </div>
          <div>
            <b><span [innerHTML]="item.name"></span></b>
          </div>
          <div>
            <small>in Todo: <a [routerLink]="['/tasks/todo', item.taskId]" [innerHTML]="item.todoTitle"></a></small>
          </div>
          <div *ngIf="item.dueDate">
            <small>dueDate: <b>{{item.dueDate}}</b></small>
          </div>
        </div>
      </div>
    </li>
    <li class="timeline-inverted" *ngIf="!(i % 2 == 0) && (i % 3 == 1)">
      <div class="timeline-badge success"><i class="fa fa-credit-card"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-body">
          <div>
            <small class="text-muted"><i class="fa fa-clock-o"></i> active since: {{item.createdAt | date:'longDate'}}</small>
          </div>
          <div>
            <b><span [innerHTML]="item.name"></span></b>
          </div>
          <div>
            <small>in Todo: <a [routerLink]="['/tasks/todo', item.taskId]" [innerHTML]="item.todoTitle"></a></small>
          </div>
          <div *ngIf="item.dueDate">
            <small>dueDate: <b>{{item.dueDate}}</b></small>
          </div>
        </div>
      </div>
    </li>
    <li class="timeline-inverted" *ngIf="!(i % 2 == 0) && !(i % 3 == 1)">
      <div class="timeline-badge info"><i class="fa fa-check"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-body">
          <div>
            <small class="text-muted"><i class="fa fa-clock-o"></i> active since: {{item.createdAt | date:'longDate'}}</small>
          </div>
          <div>
            <b><span [innerHTML]="item.name"></span></b>
          </div>
          <div>
            <small>in Todo: <a [routerLink]="['/tasks/todo', item.taskId]" [innerHTML]="item.todoTitle"></a></small>
          </div>
          <div *ngIf="item.dueDate">
            <small>dueDate: <b>{{item.dueDate}}</b></small>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
