<ng-container *ngIf="!waitForCategories">
  <ngb-progressbar type="success" [value]="25" [striped]="true"></ngb-progressbar>
</ng-container>
<ng-container *ngIf="waitForCategories">
  <label>{{categoryType}}</label>
  <ng-multiselect-dropdown
    (onDeSelect)="deSelect($event)"
    [placeholder]="'select category'"
    [settings]="dropdownSettings"
    [data]="dropdownList"
    [(ngModel)]="selectedItems"
    (onSelect)="onItemSelect($event)"
    (onSelectAll)="onSelectAll($event)">
  </ng-multiselect-dropdown>
<app-add-category [categoryType]="categoryType"></app-add-category>
</ng-container>
