<app-alert></app-alert>
<form #createCounselingForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>Termin</label>
    <div class="row">
      <div class="col">
        <div class="input-group">
          <input class="form-control" placeholder="Beratungstermin"
                 name="dp" [(ngModel)]="dateObject" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
              <fa-icon class="text-info" [icon]="faBars"></fa-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="col">
        <ngb-timepicker [(ngModel)]="time" name="time"></ngb-timepicker>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>Anliegen</label>
    <textarea type="text" name="concern" [(ngModel)]="concern" placeholder="concern" class="form-control"></textarea>
  </div>
  <div class="row">
    <div class="col">
      <!-- concern category section -->
      <div class="form-group">
        <label>Categorize</label>
        <input type="text" name="concernCategory" [(ngModel)]="concernCategory" placeholder="concernCategory"
               class="form-control" disabled />
      </div>
      <div class="form-group">
        <div class="btn-group me-3">
          <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-sm btn-outline-success" ngbDropdownToggle type="button">Select concern category</button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <div *ngFor="let c of concernCategories">
                <button ngbDropdownItem (click)="selectConcernCat(c)" type="button">{{c.name}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="categoryExists != null">
        <span class="text-danger">{{categoryExists}}</span>
      </div>
      <div class="form-group">
        <label>Add New Category</label>
        <input type="text" name="newCategory" [(ngModel)]="newCategory" placeholder="new Category"
               class="form-control"/>
        <button class="btn btn-sm btn-outline-primary"
                (click)="addNewCategory(CONCERN_CATEGORY)"
                [disabled]="newCategory == null || newCategory == ''">
          add new category
        </button>
      </div>
      <!-- concern category section end -->
    </div>
    <div class="col">
      <!-- activity category start -->
      <div class="form-group">
        <label>Aktivitätskategorie</label>
        <input type="text"
               name="activityCategory"
               [(ngModel)]="activityCategory"
               placeholder="activityCategory"
               class="form-control"
               disabled />
      </div>
      <div class="form-group">
        <div class="btn-group me-3">
          <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-sm btn-outline-primary" ngbDropdownToggle type="button">Select activity category</button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <div *ngFor="let c of activityCategories">
                <button ngbDropdownItem (click)="selectActivityCat(c)" type="button">{{c.name}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="categoryExists != null">
        <span class="text-danger">{{categoryExists}}</span>
      </div>
      <div class="form-group">
        <label>Add New Category</label>
        <input type="text" name="newCategory" [(ngModel)]="newActivityCategory" placeholder="new Category"
               class="form-control"/>
        <button class="btn btn-sm btn-outline-success"
                (click)="addNewCategory(ACTIVITY_CATEGORY)"
                [disabled]="newActivityCategory == null || newActivityCategory == ''">
          add new category
        </button>
      </div>
      <!-- activity category end -->
    </div>
  </div>

  <div class="form-group">
    <label>Activity</label>
    <input type="text" name="activity" [(ngModel)]="activity" placeholder="activity" class="form-control"/>
  </div>



  <div class="form-group">
    <label>Registriert von</label>
    <input type="text" name="registeredBy" [(ngModel)]="registeredBy" placeholder="registeredBy" class="form-control"/>
  </div>
  <div class="form-group">
    <button class="btn btn-outline-danger" [disabled]="loading">submit</button>
  </div>
</form>
<div class="spinner-border text-primary" role="status" *ngIf="loading">

</div>
