<div class="row">
  <div class="col">
    <div *ngFor="let counseling of counselings">
      <div class="card">
        <div class="card-body">
          <div>
            <b class="text-danger">Beratung</b>
          </div>
          <div class="mt-3">
            <label class="text-secondary">Datum:</label>
            {{counseling.counselingDate}}
          </div>
          <div>
            <label class="text-secondary">Aktivität:</label>
            {{counseling.activity}}
          </div>
          <div>
            <label class="text-secondary">Aktivitätskategorie:</label>
            {{counseling.activityCategory}}
          </div>
          <div>
            <label class="text-secondary">Anliegen:</label>
            {{counseling.concern}}
          </div>
          <div>
            <label class="text-secondary">Kategorie:</label>
            {{counseling.concernCategory}}
          </div>
          <div>
            <label class="text-secondary">status</label>
            {{counseling.counselingStatus}}
          </div>
          <div>
            <label class="text-secondary">Registriert von:</label>
            {{counseling.registeredBy}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
