<h4><fa-icon [icon]="faTasks" class="text-danger mr-5"></fa-icon> Beratungen</h4>
<table class="table table-striped mt-5">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Datum</th>
    <th scope="col">Status</th>
    <th scope="col">Anliegen</th>
    <th scope="col">Kategorie</th>
    <th scope="col">Activität</th>
    <th scope="col">Kat</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let counseling of counselings; index as i">
    <th><small>{{ i + 1 }}</small></th>
    <td>{{counseling.counselingDate | date}}</td>
    <td>{{counseling.counselingStatus}}</td>
    <td>{{counseling.concern}}</td>
    <td>{{counseling.concernCategory}}</td>
    <td>{{counseling.activity}}</td>
    <td>{{counseling.activityCategory}}</td>
  </tr>
  </tbody>
</table>

