<h4><fa-icon [icon]="faUsers" class="text-success mr-5"></fa-icon> Klient:innen</h4>

<div class="mt-5">
  <ngb-pagination [collectionSize]="count" [(page)]="page" [pageSize]="pageSize" (pageChange)="getThePageNumber()"></ngb-pagination>
</div>
<div>
  <pre>Current page: {{page}}</pre>
</div>
<div class="row">
  <div class="col">
    <ng-container *ngIf="clients">
      <div *ngFor="let client of clients">
        <div>
          <div>
            <b>{{client.firstName}} {{client.lastName}}</b> &nbsp; <a [routerLink]="['/clients', client.id]"><small>link</small></a>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
