<h4>
  <fa-icon [icon]="faUsers" class="text-success mr-5"></fa-icon>
  Klient:innen
</h4>

<form class="mt-3" *ngIf="clients$">

  <div class="form-group form-inline">
    Full text search: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="clientTableService.searchTerm"/>
    <span class="ml-3" *ngIf="clientTableService.loading$ | async">Loading...</span>
  </div>


  <ng-container>
    <table class="table table-striped mt-5">
      <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Keyword</th>
        <th>Bildung</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let client of clients$ | async">
        <td>
          <ngb-highlight [result]="client.firstName" [term]="clientTableService.searchTerm"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="client.lastName" [term]="clientTableService.searchTerm"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="client.keyword" [term]="clientTableService.searchTerm"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="client.education" [term]="clientTableService.searchTerm"></ngb-highlight>
        </td>
        <td>
          <a [routerLink]="['/clients', client.id]"><small>link</small></a>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="input-group">
      <button class="btn btn-sm btn-outline-success" (click)="clickToCsv()">
        download csv
      </button>
    </div>

    <div class="d-flex justify-content-between p-2">
      <ngb-pagination
        [collectionSize]="(total$ | async)!" [(page)]="clientTableService.page" [pageSize]="clientTableService.pageSize">
      </ngb-pagination>

      <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="clientTableService.pageSize">
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="6">6 items per page</option>
      </select>
    </div>
  </ng-container>

</form>


