<div class="row">
  <div class="col-8">
    <b>-</b> &nbsp;
    <span *ngIf="item.done == false">
                <span name="item" class="custom-a" (click)="openItem(item.id)">{{item.name}}</span>
              </span>
    <span *ngIf="item.done == true">
                <span name="item" class="custom-done" (click)="updateTodoItem(item.id)"><s [innerHTML]="item.name"></s></span>
              </span>
    <div class="mb-2 ml-4" id="{{item.name}}" *ngIf="displayItem && display_item_id == item.id">
      <span class="" *ngIf="item.done == false">
        <small><a class="text-danger" (click)='updateTodoItem(item.id)'>done</a></small>
      </span>
        <span class="ml-2" *ngIf="item.done == true">
        <small><a (click)='updateTodoItem(item.id)'>undo</a></small>
      </span>
      <app-description [item]="item" [todo_id]="todo_id" [item_id]="item.id"></app-description>
      <app-add-item-due-date [todo_id]="todo_id" [item]="item"></app-add-item-due-date>

    </div>
  </div>
  <div class="col-2">
    <small *ngIf="item.done == false">open</small>
    <small *ngIf="item.done == true">done</small>
  </div>
  <div class="col-2">
    <a (click)="deleteItem(item.id)" title="delete"><i class="fa fa-trash" *ngIf="item.done == true"></i></a>
  </div>
</div>
