<div class="row">
  <div class="col-3" *ngIf="counseling">
    Keyword: <b><a [routerLink]="['/clients', counseling?.clientId]" [innerHTML]="counseling?.keyword"></a></b>
  </div>
  <div class="col-3">
    <span>Name: </span>
    <b><span *ngIf="counseling" [innerHTML]="counseling?.clientFullName"></span></b>
  </div>
</div>

<div class="row mt-5" *ngIf="counseling">
  <div class="col-md-10">
    <div>
      <h4><b class="text-danger">Beratung</b></h4>
    </div>
    <div class="mt-4">
      <label class="text-secondary">Datum:</label>&nbsp;
      <span [innerHTML]="counseling?.counselingDate | date: 'dd.MM.yyyy HH:mm'"></span>
    </div>
    <div class="row m-1 mb-3 mt-4 fade-in" *ngIf="!editConcern">
      <div class="col-md-10">
        <label class="text-secondary">Anliegen:</label>
        <div *ngIf="counseling.concern" [innerHTML]="counseling.concern | newLine"></div>
      </div>
      <div class="col-md-2">
        <span class="set-cursor-pointer" (click)="chooseEditConcern()">edit</span>
      </div>
    </div>
    <div *ngIf="editConcern" class="row fade-in m-1 mb-4 mt-4">
      <div class="col-md-10">
        <div class="form-group">
          <label class="text-secondary">Anliegen:</label>
          <textarea type="text" name="activity" [(ngModel)]="counseling.concern" placeholder="concern"
                    class="form-control" rows="10"></textarea>
          {{CONCERN_MAX_LENGTH - counseling.concern?.length}}
        </div>
      </div>
      <div class="col-md-2">
        <div class="set-cursor-pointer" (click)="chooseEditConcern()">Close</div>
        <div class="mt-2">
          <button class="btn btn-sm btn-outline-success" (click)="update('concern')">update</button>
        </div>
      </div>
    </div>
    <div class="mt-4 fade-in" *ngIf="!addLegalCategoryComponent">
      <label class="text-secondary">Rechtsschutzkategorie:</label>&nbsp;
      <span *ngFor="let legalCategory of counseling.legalCategory">
        <span [innerHTML]="legalCategory.name"></span>&nbsp;
      </span>
      <span class="set-cursor-pointer" (click)="addLegalCategory()">edit</span>
    </div>
    <div class="row mt-4 fade-in" *ngIf="addLegalCategoryComponent">
      <div class="col">
        <app-multi [categoryType]="legalCategoryType"
                   [label]="legalLabel"
                   (categoryValue)="showCategoryValue($event, legalCategoryType)"
                   (deSelectedEmit)="showDeSelected($event)"
                   [selectedCategories]="counseling.legalCategory">
        </app-multi>
      </div>
      <div class="col">
        <div (click)="addLegalCategory()" class="set-cursor-pointer">Close</div>
        <div class="mt-2">
          <button class="btn btn-sm btn-outline-success" (click)="saveCategories(legalCategoryType)">submit</button>
        </div>
      </div>
    </div>
    <div class="m-1 mb-3 row fade-in" *ngIf="!editActivity">
      <div class="col-md-10">
        <label class="text-secondary">Aktivität:</label>
        <div *ngIf="counseling.activity" [innerHTML]="counseling.activity | newLine"></div>
      </div>
      <div class="col-md-2">
        <span class="set-cursor-pointer" (click)="chooseEditActivity()">edit</span>
      </div>
    </div>
    <div class="row m-1 mb-3 fade-in" *ngIf="editActivity">
      <div class="col-md-10">
        <div class="form-group">
          <label>Aktivität</label>
          <textarea type="text" name="activity" [(ngModel)]="counseling.activity" placeholder="activity"
                    class="form-control" rows="10"></textarea>
          {{ACTIVITY_MAX_LENGTH - counseling.activity?.length}}
        </div>
      </div>
      <div class="col-md-2">
        <span class="set-cursor-pointer" (click)="chooseEditActivity()">Close</span>
        <div class="mt-2">
          <button class="btn btn-sm btn-outline-success" (click)="update('activity')">update</button>
        </div>
      </div>
    </div>
    <div class="fade-in" *ngIf="!addActivityCategoryComponent">
      <label class="text-secondary">Aktivitätskategorie:</label>&nbsp;
      <span *ngFor="let activityCategory of counseling.activityCategories">
        <span [innerHTML]="activityCategory.name"></span>&nbsp;
      </span>
      <span class="set-cursor-pointer" (click)="addActivityCategory()">edit</span>
    </div>
    <div class="row fade-in" *ngIf="addActivityCategoryComponent">
      <div class="col">
        <app-multi [categoryType]="activityCategoryType"
                   [label]="activityLabel"
                   (categoryValue)="showCategoryValue($event, activityCategoryType)"
                   (deSelectedEmit)="showDeSelected($event)"
                   [selectedCategories]="counseling.activityCategories">
        </app-multi>
      </div>
      <div class="col">
        <div (click)="addActivityCategory()" class="set-cursor-pointer">Close</div>
        <div class="mt-2">
          <button class="btn btn-sm btn-outline-success" (click)="saveCategories(activityCategoryType)">submit</button>
        </div>
      </div>
    </div>
    <div class="mt-3">
      <label class="text-secondary">Registriert von:</label>&nbsp;
      <span [innerHTML]="counseling?.registeredBy"></span>
    </div>
    <div class="mt-3">
      <button class="btn btn-sm btn-outline-warning" (click)="openDeleteConfirmationModal(confirmDelete)">delete
      </button>&nbsp;
      <span *ngIf="counseling.comment === null" class="mt-2">
            <button class="btn btn-sm btn-outline-dark" (click)="openEditCounseling(edit_comment)">Add Comment</button>
          </span>
    </div>
  </div>
</div>

<ng-container *ngIf="counseling.comment != null">
  <div class="row mt-5">
    <div class="col">
      <h4><b>Kommentar</b></h4>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-6">
      {{counseling.comment}}
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <button class="btn btn-sm btn-outline-dark" (click)="openEditCounseling(edit_comment)">edit comment</button>
      &nbsp;&nbsp;
      <app-create-comment [delete]="true" [clientId]="counseling.id"
                          [comment]="counseling.comment"></app-create-comment>
    </div>
  </div>
</ng-container>

<ng-template #edit_counseling let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Beratung bearbeiten</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-edit-counseling [counseling]="counseling"></app-edit-counseling>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-lg btn-outline-danger" (click)="modal.close('Save click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</ng-template>

<ng-template #edit_comment let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Kommentar</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-create-comment [clientId]="counseling.id" [comment]="counseling.comment"></app-create-comment>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-lg btn-outline-danger" (click)="modal.close('Save click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</ng-template>

<ng-template #confirmDelete let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Confirm Delete</h5>
  </div>
  <div class="modal-body">
    <div>
      Do you really want to delete the counseling?
    </div>
  </div>
  <div class="modal-footer">
      <span class="text-left">
        <button type="button" (click)="no()" class="btn btn-sm btn-outline-danger">no</button>
      </span>
    <span class="text-right">
        <button type="button" (click)="yes(counseling.id)" class="btn btn-sm btn-outline-success">yes</button>
      </span>
  </div>
</ng-template>
