<div>
  responsible user for <br>
  <b><span [innerHTML]="todo_title"></span></b><br>
  <div *ngFor="let u of todo_users">
    <small [innerHTML]="u.username"></small>
  </div>
</div>
<div>
  <form [formGroup]="addUserForm" (ngSubmit)="addUserToTodo()">
    <div class="ui-inputgroup">
      <p-dropdown [options]="users" [style]="{'width':'150px'}" formControlName="selectedUser"
                  optionLabel="username" placeholder="Select a user" (onShow)="loadUser()"></p-dropdown>
    </div>
    <div class="ui-inputgroup mt-1">
      <button pButton [disabled]="loading" class="ui-button-warning" label="add user"></button>
    </div>
  </form>
</div>
