@import "assets/css/bootstrap.min.css";

body {
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
}

a {
  cursor: pointer;
  color: #007bff;
}

.custom-a {
  color: #007bff;
  cursor: pointer;
}

.custom-click {
  cursor: pointer;
}

.custom-done {
  color: #999999;
  cursor: pointer;
}
