<app-navbar></app-navbar>
<!-- this has to be removed when we know how to pass parameters to this component -->
<div class="container">
  <div class="mb-2 mt-2">
    <b>{{todo_title}}</b>
  </div>
  <div class="p-grid">
    <div class="p-col-12 p-md-6">
      <!-- item section -->
      <div *ngFor="let i of items">

<!--          here is the place for complex or the simple component-->
          <app-complex-todo [item]="i" [todo_id]="todo_id"></app-complex-todo>

      </div>
      <div class="mt-3">
        <form [formGroup]="itemForm" (ngSubmit)="onSubmit('item')">
          <div class="ui-inputgroup">
            <input type="text" pInputText formControlName="name" placeholder="Item"
                   [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
          </div>
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">
              <small>item is required</small>
            </div>
          </div>

          <div class="ui-inputgroup">
            <button pButton [disabled]="loading" class="ui-button-success" label="Hopp"></button>
          </div>
        </form>
      </div>
      <!-- item section end -->
    </div>
    <div class="p-col-12 p-md-6">
      <div class="p-grid mb-2">
        <div class="p-col-12 p-md-4"></div>
        <div class="p-col-12 p-md-6">
          <div *ngIf="todo_id != null">
            <app-add-user [todo_id]="todo_id" [user_id]="user_id" [todo_title]="todo_title"></app-add-user>
          </div>
        </div>
      </div>

      <div class="p-grid mb-2">
        <div class="p-col-12 p-md-4"></div>
        <div class="p-col-12 p-md-6">
          <div *ngIf="task != null">
            <app-complete-task task_id="{{taskId}}" execution_id="{{task.executionId}}" type="todo"></app-complete-task>
          </div>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-12 p-md-4"></div>
        <div class="p-col-12 p-md-6">
          <div class="mt-2 ml-2">
            <img *ngIf="loading"
                 src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end -->
