<div class="container">
  <div class="mb-2 mt-2">
    <b>{{todo_title}}</b>
  </div>
  <div class="row">
    <div class="col-6 mb-2">
      <div *ngIf="executionId != null">
        <app-set-variable-check-box [executionId]="executionId" name="todoFinished" t="finished" f="not finished" message="todo is "></app-set-variable-check-box>
      </div>
    </div>
    <div class="col-6">
      <div *ngIf="executionId != null">
        <app-complete-task [task_id]="taskId" [execution_id]="executionId" type="todo"></app-complete-task>
      </div>
    </div>
  </div>
</div>
