<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">

  <div class="list-group mt-5">
    <a [routerLink]="['/users', currentUser.username]" [routerLinkActive]="['router-link-active']"
       class="list-group-item">
      <fa-icon class="text-secondary" [icon]="faUser"></fa-icon>&nbsp;
      <span>{{ currentUser.username }}</span>
    </a>
    <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <fa-icon class="text-secondary" [icon]="faTachometerAlt"></fa-icon>&nbsp;
      <span>{{ 'Dashboard' }}</span>
    </a>
    <!--<a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <fa-icon class="text-info" [icon]="faBars"></fa-icon>&nbsp;
      <span>{{ 'Charts' }}</span>
    </a>-->
    @if (currentUser.admin) {
      <a [routerLink]="['/list-users']" [routerLinkActive]="['router-link-active']"
         class="list-group-item">
        <fa-icon class="text-secondary" [icon]="faCampground"></fa-icon>&nbsp;
        <span>{{ 'list users' }}</span>
      </a>
    }

    @if (currentUser.admin) {
      <a [routerLink]="['/clients/csv-download-list']" [routerLinkActive]="['router-link-active']"
         class="list-group-item">
        <fa-icon class="text-secondary" [icon]="faSave"></fa-icon>&nbsp;
        <span>{{ 'daily CSVs' }}</span>
      </a>
    }

    @if (currentUser.admin) {
      <a [routerLink]="['/clients/edit-categories']" [routerLinkActive]="['router-link-active']"
         class="list-group-item">
        <fa-icon class="text-primary" [icon]="faEarListen"></fa-icon>&nbsp;
        <span>{{ 'Edit Categories' }}</span>
      </a>
    }

    <a [routerLink]="['/login']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <fa-icon class="text-secondary" [icon]="faPowerOff"></fa-icon>&nbsp;
      <span>{{ 'Log Out' }}</span>
    </a>

    <a [routerLink]="['/clients/create']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <fa-icon class="text-success" [icon]="faUsers"></fa-icon>&nbsp;
      <span>{{ 'klientin anlegen' }}</span>
    </a>

    <a [routerLink]="['/clients/search']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <fa-icon class="text-success" [icon]="faSearch"></fa-icon>&nbsp;
      <span>{{ 'Suche' }}</span>
    </a>

    <a [routerLink]="['/clients/reports']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <fa-icon class="text-success" [icon]="faBriefcaseMedical"></fa-icon>&nbsp;
      <span>{{ 'Reports' }}</span>
    </a>

    @if (showClientButtons) {
      <a class="list-group-item" (click)="assignEmployer()">
        <fa-icon class="text-primary" [icon]="faSurprise"></fa-icon>&nbsp;
        <span>{{ 'arbeitgeber:in zuweisen' }}</span>
      </a>
    }

    <div class="header-fields">
      <a (click)="rltAndLtr()" class="list-group-item">
        <span><i class="fa fa-arrows-h"></i>&nbsp; RTL/LTR</span>
      </a>
    </div>
  </div>
  <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
    <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
    @if (!collapsed) {
      <fa-icon class="text-secondary" [icon]="faAngleDoubleLeft"></fa-icon>
    } @else if (collapsed) {
      <fa-icon class="text-secondary" [icon]="faAngleDoubleRight"></fa-icon>
    }
    <span>{{ 'Collapse Sidebar' }}</span>
  </div>
</nav>
