<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
  <div class="list-group mt-5">
    <a [routerLink]="['/users', currentUser.username]" [routerLinkActive]="['router-link-active']"
       class="list-group-item">
      <fa-icon class="text-info" [icon]="faUser"></fa-icon>&nbsp;
      <span>{{ currentUser.username }}</span>
    </a>
    <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <fa-icon class="text-info" [icon]="faTachometerAlt"></fa-icon>&nbsp;
      <span>{{ 'Dashboard' }}</span>
    </a>
    <!--<a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <fa-icon class="text-info" [icon]="faBars"></fa-icon>&nbsp;
      <span>{{ 'Charts' }}</span>
    </a>-->
    <a [routerLink]="['/list-users']" *ngIf="currentUser.admin" [routerLinkActive]="['router-link-active']"
       class="list-group-item">
      <fa-icon class="text-info" [icon]="faCampground"></fa-icon>&nbsp;
      <span>{{ 'list users' }}</span>
    </a>

    <a [routerLink]="['/login']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <fa-icon class="text-info" [icon]="faPowerOff"></fa-icon>&nbsp;
      <span>{{ 'Log Out' }}</span>
    </a>

    <a [routerLink]="['/clients/create']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <fa-icon class="text-success" [icon]="faUsers"></fa-icon>&nbsp;
      <span>{{ 'klientin anlegen' }}</span>
    </a>

    <a *ngIf="showClientButtons" class="list-group-item" (click)="newCounseling()">
      <fa-icon class="text-danger" [icon]="faTasks"></fa-icon>&nbsp;
      <span>{{ 'neue beratung' }}</span>
    </a>

    <a *ngIf="showClientButtons" class="list-group-item" (click)="newEmployer()">
      <fa-icon class="text-primary" [icon]="faSurprise"></fa-icon>&nbsp;
      <span>{{ 'neue arbeitgeber:in' }}</span>
    </a>

    <a *ngIf="showClientButtons" class="list-group-item" (click)="assignEmployer()">
      <fa-icon class="text-primary" [icon]="faSurprise"></fa-icon>&nbsp;
      <span>{{ 'arbeitgeber:in zuweisen' }}</span>
    </a>

    <a *ngIf="showClientButtons" class="list-group-item" (click)="editClient()">
      <fa-icon class="text-success" [icon]="faUsers"></fa-icon>&nbsp;
      <span>{{ 'klient:in bearbeiten' }}</span>
    </a>

    <a *ngIf="showCreateEmployerButton" class="list-group-item" (click)="newEmployer()">
      <fa-icon class="text-primary" [icon]="faSurprise"></fa-icon>&nbsp;
      <span>{{ 'neue arbeitgeber:in' }}</span>
    </a>

    <div class="header-fields">
      <a (click)="rltAndLtr()" class="list-group-item">
        <span><i class="fa fa-arrows-h"></i>&nbsp; RTL/LTR</span>
      </a>
    </div>
  </div>
  <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
    <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
    <span>{{ 'Collapse Sidebar' }}</span>
  </div>
</nav>
