<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th>username</th>
    <th>email</th>
    <th>admin</th>
    <th>locked</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    @for (u of userList(); track u.username; let i = $index) {
      <tr>
        <th scope="row">{{ i + 1 }}</th>
        <td>
          <a [routerLink]="['/users', u.username]" routerLinkActive="router-link-active">
            <span>{{ u.username }}</span>
          </a>
        </td>
        <td>{{ u.email }}</td>
        <td>
          @if (u.admin) {
            <fa-icon class="text-danger" [icon]="faCheck"></fa-icon>
          }
        </td>
        <td>{{ u.locked }}</td>
        <td></td>
      </tr>
    }
  </tbody>
</table>
