<div class="row">
  <div class="col-md-3 text-primary">
    <b>username</b>
  </div>
  <div class="col-md-5 text-primary">
    <b>email</b>
  </div>
  <div class="col-md-2 text-center text-primary">
    <b>admin</b>
  </div>
  <div class="col-md-2">

  </div>
</div>
<div *ngFor="let u of userList">
  <div class="row mt-2">
    <div class="col-md-3">
      {{u.username}}
    </div>
    <div class="col-md-5">
      {{u.email}}
    </div>
    <div class="col-md-2 text-center">
      <span *ngIf="u.admin">
        <fa-icon class="text-danger" [icon]="faCheck"></fa-icon>
      </span>
    </div>
    <div class="col-md-2 text-right">
      <input type="checkbox" (click)="setAdmin(u.id, u.admin)">
    </div>
  </div>
</div>
